@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4c614f;
  --font-color: #575757;
  --footer-font-color: #6d6d6d;
}

body {
  background: var(--primary-color);
}
.wrapper {
  margin: 50px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper li {
  height: 250px;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px 20px;
}

.add-box,
.icon,
.bottom-content,
.settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.add-box .icon {
  height: 78px;
  width: 78px;
  color: var(--primary-color);
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed var(--primary-color);
}

.add-box p {
  color: var(--primary-color);
  font-weight: 500;
  margin-top: 20px;
}
.note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note p {
  font-size: 22px;
  font-weight: 500;
}

.note span {
  display: block;
  margin-top: 5px;
  color: var(--font-color);
  font-size: 16px;
}

.note .bottom-content {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.bottom-content span {
  color: var(--footer-font-color);
  font-size: 12px;
}

.bottom-content .settings i{
  color: var(--footer-font-color);
  font-size: 15px;
  cursor: pointer;
}
.settings {
  position: relative;
}
.settings .menu{
  position: absolute;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #fff;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.15s ease;
}
.settings:hover .menu{
    transform: scaleX(1);
}
.settings .menu li{
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  padding: 17px 15px;
  background: #fff;
  justify-content: flex-start;
}
.menu li:hover{
    background: #f5f5f5;
}
.menu li i{
    padding-right: 8px;
    
}